<%= form_for(@product) do |f| %>
  <div class="first-row">
    <%= f.text_field :title, :placeholder => "Mullet, slightly used", :class => "item-name" %>
    <%= f.text_field :price, :placeholder => "$12.50", :class => "item-price" %>
  </div>

  <div>
    <%= f.text_area :description,  :rows => "4",  :placeholder => "One mullet, slightly used. It's seen its fair share of Kenny Loggins concerts, but is in complete working condition. Moustache sold separately." %>
  </div>	

  <div>
    <!-- <form action="/file&#45;upload" class="dropzone dnd" id="my&#45;awesome&#45;dropzone">Sweet mullet pics<br /> get dropped in here</form> -->
  </div>

  <div>
    <a href="#" class="button wide add">Add another item</a>
  </div>

  <div>
    <h3 class="email-notice">We'll email you a link to your sales page.</h3>
  </div>

  <div>
    <input type="email" placeholder="mulletluvr@hotmail.com" class="item-email">
    <%= f.submit "Create", :class => "button create" %>
    <!-- <a href="#" class="button create">Create</a> -->
  </div>
<% end %>


<% if false #form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
