<div class="container">

  <div class="logo"/></div>
  <div class="seller-body">

    <div>
      <h3>You're almost there! Before sharing<br /> your store with friends, you must<br /> connect Stripe to your bank account <br />so you can receive payments.</h3>
      <h3 class="learnmore"><a href="http://www.stripe.com/" target="_blank">Learn more about Stripe.</a></h3>
    </div>

    <div>
      <a href="#" target="_blank" class="button wide stripe-btn">Connect to Stripe</a>
    </div>

    <div>
      <h3 class="links">Your admin link</h3>
    </div>
    <div>
      <input type="url" placeholder="http://unload.io/d2ej3" class="item-email">
      <a href="#" class="button copy">Copy</a>
    </div>

    <div>
      <h3 class="links">Your public link</h3>
    </div>
    <div>
      <input type="url" placeholder="http://unload.io/Ihd3d" class="item-email">
      <a href="#" class="button copy">Copy</a>
    </div>

  </div>
</div>




<!-- <p id="notice"><%= notice %></p> -->
<!--  -->
<!-- <p> -->
  <!--   <b>Title:</b> -->
  <!--   <%= @product.title %> -->
  <!-- </p> -->
<!--  -->
<!-- <p> -->
  <!--   <b>Price:</b> -->
  <!--   <%= @product.price %> -->
  <!-- </p> -->
<!--  -->
<!-- <p> -->
  <!--   <b>Description:</b> -->
  <!--   <%= @product.description %> -->
  <!-- </p> -->
<!--  -->
<!--  -->
<!-- <%= link_to 'Edit', edit_product_path(@product) %> | -->
<!-- <%= link_to 'Back', products_path %> -->
