---
title: Tom Cardoso
---

<div class="container">
  <div class="index">
    <div class="top">
      <div class="center">
        <h4 class="intro">I'm Tom Cardoso, <%= link_to "unicorn", "http://irondavy.quora.com/The-Myth-of-the-Myth-of-the-Unicorn-Designer" %>.
        </h4>
        <h4 class="intro">
          When I'm not designing user experiences or writing code, I can be found on <%= link_to "Twitter", "http://www.twitter.com/tom_cardoso/" %>, <%= link_to "500px", "http://www.500px.com/tomcardoso/" %>, or <%= mail_to "hello@tomcardoso.com", "email" %>.</h4>
      </div>
      <div class="scroll">
        <h5 class="intro">To see some of my work, scroll on down.</h5>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="images">
      <%= image_tag 'unload.png', :title => 'Unload.io', :class => 'samples' %>
      <p><b>Unload.io</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

      <%= image_tag 'unload.png', :title => 'Unload.io', :class => 'samples' %>
      <p><b>Unload.io</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

      <%= image_tag 'unload.png', :title => 'Unload.io', :class => 'samples' %>
      <p><b>Unload.io</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

      <%= image_tag 'unload.png', :title => 'Unload.io', :class => 'samples' %>
      <p><b>Unload.io</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

      <%= image_tag 'unload.png', :title => 'Unload.io', :class => 'samples' %>
      <p><b>Unload.io</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="footer">
      <p>This site was built using <%= link_to "Middleman", "http://www.middlemanapp.com/" %>, <%= link_to "Sass", "http://www.sass-lang.com/" %>, <%= link_to "Bourbon", "http://www.bourbon.io/" %>, <%= link_to "Neat", "http://neat.bourbon.io/" %>, <%= link_to "Heroku", "http://www.heroku.com/" %>, and <%= link_to "unicorn power", "http://pbfcomics.com/103/" %>.</p>
      <p>Check out my code on <%= link_to "GitHub", "http://www.github.com/tomcardoso" %>, listen to some of my favourite tunes on the <%= link_to "Hype Machine", "http://www.hypem.com/tomcardoso" %> or <%= mail_to "hello@tomcardoso.com", "get in touch" %>.</p>
    </div>
  </div>
</div>